<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="evoqe.com.evoqe" >

    <permission android:name="com.evoqe.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.evoqe.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >

        <!-- Activities -->

        <activity android:name=".activities.LoginActivity"
                  android:label="@string/login_activity_label"
                  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.JamboreeDetailActivity"
                  android:label="@string/jamboree_detail_activity_label"
                  android:parentActivityName=".activities.MainActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop" > <!-- Preserve extras while in WeatherActivity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"  />
        </activity>
        <activity android:name=".activities.RestaurantDetailActivity"
                  android:label="@string/restaurant_detail_activity_label"
                  android:parentActivityName=".activities.MainActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop" > <!-- Preserve extras while in WeatherActivity -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"  />
        </activity>
        <activity android:name=".activities.WeatherActivity"
                  android:label="@string/weather_activity_label"
                  android:parentActivityName=".activities.JamboreeDetailActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.JamboreeDetailActivity" />
        </activity>
        <activity android:name=".activities.ForgotPasswordActivity"
                  android:label="@string/forgot_password_activity_label"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.SignUpActivity"
                  android:label="@string/signup_activity_label"
                  android:screenOrientation="portrait" />

        <!-- Service and Receivers -->

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="evoqe.com.evoqe" />
            </intent-filter>
        </receiver>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>